@model CinemaProjectData.Services.CinemaManagement
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>
    Spettatore Minorenne?: @Model.minore
</h3>
<h3>
    Spettatore Maggiorenne?: @Model.maggiore
</h3>
