@model CinemaProjectData.Services.CinemaManagement
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>
    Incasso Cinema: @Model.incassoCinema
</h3>
<h3>
    Incasso Sala Uno: @Model.incassoSala
</h3>