@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Via del Cinema<br />
    Bologna, Italy<br />
</address>

<address>
    <strong>Prenotazioni:</strong>   <a href="mailto:cinema@cinema.com">cinema@cinema.com</a><br />
</address>