@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CINEMA</h1>
    <p class="lead">Il Cinema piu bello della citta.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Il Signore degli Anelli</h2>
        <p>
            Il Signore degli Anelli (in inglese The Lord of the Rings) è una trilogia colossal fantasy co-prodotta,
            co-scritta e diretta del regista neozelandese Peter Jackson, basata sull'omonimo romanzo scritto da J. R. R. Tolkien.
            La saga è formata da Il Signore degli Anelli - La Compagnia dell'Anello (2001), Il Signore degli Anelli - Le due torri (2002) e Il Signore degli Anelli - Il ritorno del re (2003).
            Considerato uno dei progetti più grandi e ambiziosi mai intrapresi .
        </p>

    </div>
    <div class="col-md-4">
        <h2>Guerre Stellari</h2>
        <p>
            Guerre stellari (titolo originale inglese Star Wars) è un franchise creato da George Lucas, che si sviluppa da una saga cinematografica iniziata nel 1977 col film Guerre stellari, sottotitolato retroattivamente Episodio IV - Una nuova speranza.
            A questo film sono seguite altre due pellicole, distribuite a tre anni di distanza l'una dall'altra: L'Impero colpisce ancora (1980) e Il ritorno dello Jedi (1983).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Matrix (coming soon!)</h2>
        <p>
            Matrix (The Matrix) è un film di fantascienza del 1999 scritto e diretto dalle sorelle Lana e Lilly Wachowski.
            Il film, che ha vinto numerosi premi, tra cui 4 Oscar, ha avuto un forte impatto culturale e vi sono state numerose opere che vi fanno riferimento. Nel 2012 è stato scelto per la conservazione nel National Film Registry della Biblioteca del Congresso degli Stati Uniti.
        </p>
    </div>
</div>